/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2016, 11:52:17 PM
    Author     : Working
*/

.table-front th{
    color: #fff;
}

.table-front tr{
   color: #fff;
}

.video-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background: rgba(0,0,0,0.5);
}

.row {
    margin-right: 0px;
    margin-left: 0px; 
}

header{
    margin: 50px 0 100px 0;
}

#fullpage{
    top: -30px;
}

.map{
    width: 100%;
}

#booking-form-detail{
    width: 50%;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 20%;
}

.map img{width: 100%;}

.booth-image{width: 15%;}
.booth-image img{width: 100%;}
.booth-image-detail{width: 10%;}
.booth-image-detail img{width: 100%;}
.booth-name, .booth-name-detail{width: 30%; font-size: 120%;}
.booth-price, .booth-price-detail{width: 30%; font-size: 120%;}
table.scroll tbody,
table.scroll thead tr { display: block; width: 100%; }
table.scroll tbody {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
td,th{text-align: center;}
.total-harga-addon, .total-harga-booth{font-weight: bold;}

.booth-unit{width: 20%;}

ul.main-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.main-nav li{
    float: left;
    margin-right: 20px;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}

ul.main-nav li a{color: #fff}

.information-header{
    font-size: 130%;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.legend-wrapper{
    margin-top: 20px;
    color: #fff;
}

ul.legend{
    list-style: none;
    margin: 0;
    padding: 0;
}

.zone-header{
    text-align: right;
    padding-right: 20px;
    font-size: 200%;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    margin-bottom: 30px;
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
    transition-delay: 1s;
    font-family: "League Spartan";
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    border-bottom: 2px solid currentColor;
    text-align: right;
}

.book-total{
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
    transition-delay: 1s;
    font-family: "League Spartan";
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}

.price{
    font-size: 200%;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.price span{font-size: 60%;}

.detail-booth-price{
    width: 100%;
    text-align: center;
    border-top: solid 1px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 200%;
}

.detail-booth-price span{font-size: 70%;}

.addon-section{
    margin: 3px 0;
    padding-bottom: 2px;
    border-bottom: solid 1px;
}
.addon-header{
    width: 100%;
    font-size: 100%;
    text-align: right;
}

.addon-component-header{
    font-size: 110%;
    margin: 3px 0;
    border-bottom: solid 1px #cccccc;
}
.addon-component{width: 35%;}
.hide{display: none!important;}
.term-agreement{
    width: 100%;
    border: solid 1px #cccccc;
    height: 300px;
    overflow-y: auto;
}

.invoice-subheader{
    font-size: 100%;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 2px;
}

.slick-slide{
    height: 400px;
    overflow-y: auto;

}

#booking-btn{display: none;}


.booth-row{
    position: absolute;
    width: 100%;
    height: 20px;
    background: rgba(0,0,0,0.5);
}
.booth-row-1{
    top: 70px;
}

.threesixty{
    width: 100%;
}

.threesixty-frame {
    width:100%;
}