/*booking system*/
.information-container{
	position: absolute;
	right:50px;
	top: 10%;
	padding: 10px;
	border: solid 1px #000;
	font-size: 2em;
}
.selected-unit-container{
	position: absolute;
	right:50px;
	top: 70%;
	padding: 10px;
	border: solid 1px #000;
	font-size: 1.3em;
}
.button-container{
	position: absolute;
	right:50px;
	top: 50%;
	padding: 10px;
	font-size: 2em;
}
#book-button{
    height:30px;
    width:19em;
}