/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2016, 3:27:40 PM
    Author     : wisely
*/

.content{
    width: 960px;
    margin: 10% auto;
}
