/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Dec-2015, 14:25:13
    Author     : daniel
*/

.grid.simple .grid-title .management-tools-wrapper {
    margin-top: 0px;
    position: relative;
}

.grid-title .management-tools-wrapper, .grid-title .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}

.grid.simple .grid-title .management-tools-wrapper a, .grid.solid .grid-title .management-tools-wrapper a {
    position: relative;
    transition: all 0.1s linear 0s;
    padding-left: 20px;
    font-size: 14px;
}

#delete-selected-items{color: #cc0033;}
#add-item{color: #0063DC;}

ul.gallery-list{
    list-style: none;
    margin: 50px 0;
    padding: 0;
}

ul.gallery-list li{
    float: left;
    margin-right: 10px;
    width: 20%;
}

.img-thumbnail img{width: 100%;}
.img-thumbnail.active{border:solid 2px #006dcc;}

.modal-super-lg{width: 90%;}