/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jan-2016, 16:20:39
    Author     : daniel
*/


/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 

    .page-cent .content{
        padding: 0px;
        bottom: 15%;
        left: 3%;
        width: 80%;
    }

    .pane-when .header {
        font-size: 200%;
    }

    ul.unit-list{
        font-size: 150%;
    }

    ul.unit-list span{
        font-size: 150%;
        font-weight: bold;
    }

    ul.unit-list-zone{
        font-size: 120%;
    }

    ul.unit-list-zone span{
        font-size: 120%;
        font-weight: bold;
    }

    .left-wrapper-info{
        float: left;
        width: 46%;
        margin-right: 10px;
    }

    .booth-image{
        width: 100%;
        margin-top: 15px;
    }

    .booth-image img{width: 100%;}

    .visindo-map{
        top: 0;
        width: 92%;
    }

    .visindo-map img{width: 100%;}

    .legend-header{
        margin-top: 15px;
        font-size: 150%;
        border-bottom: solid 1px #fff;
        padding-bottom: 5px;
    }
    ul.legend{margin-top: 10px;}
    ul.legend li div{display: inline-block;}
    ul.legend li{margin-bottom: 5px;}
    .box{width: 15px; height: 15px; border: solid 1px;}
    .yellow{background: yellow;}
    .blue{background:  #ccccff;}

    .left-wrapper{
        float: left;
        width: 40%;
        margin-right: 40px;
    }
    table tr.even, table tr.alt, table tr:nth-of-type(even) {
        background: none;;
    }
    .table-keterangan tr td{
        color: #fff!important;
        font-size: 120%;
    }
    .table-keterangan{background: none; border: none;}
    .unit{font-size: 150%; font-weight: bold;}


}

/* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 

    .page-cent .content{
        padding: 0px;
        bottom: 0%;
        left: 3%;
        width: 80%;
    }
    
    .section .page-home{
        top: 0;
    }

    .pane-when .header {
        font-size: 200%;
    }

    ul.unit-list{
        font-size: 150%;
    }

    ul.unit-list span{
        font-size: 150%;
        font-weight: bold;
    }

    ul.unit-list-zone{
        font-size: 120%;
    }

    ul.unit-list-zone span{
        font-size: 120%;
        font-weight: bold;
    }

    .left-wrapper-info{
        float: left;
        width: 46%;
        margin-right: 10px;
    }

    .booth-image{
        width: 100%;
        margin-top: 15px;
    }

    .booth-image img{width: 100%;}

    .visindo-map{
        top: 0;
        width: 92%;
    }

    .visindo-map img{width: 100%;}

    .legend-header{
        margin-top: 15px;
        font-size: 120%;
        border-bottom: solid 1px #fff;
        padding-bottom: 5px;
    }
    ul.legend{margin-top: 10px;}
    ul.legend li div{display: inline-block;}
    ul.legend li{margin-bottom: 5px;}
    .box{width: 15px; height: 15px; border: solid 1px;}
    .yellow{background: yellow;}
    .blue{background:  #ccccff;}

    .left-wrapper{
        float: left;
        width: 40%;
        margin-right: 40px;
    }
    table tr.even, table tr.alt, table tr:nth-of-type(even) {
        background: none;;
    }
    .table-keterangan tr td{
        color: #fff!important;
        font-size: 100%;
    }
    .table-keterangan{background: none; border: none;}
    .unit{font-size: 120%; font-weight: bold;}

}